.map {
  border: 1px solid orange;
  width: 80%;
}

.infobox p {
  font-size: 0.9rem;
}

.infobox-subtitle {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid orange;
}
