.filters-menu-title {
  color: #3d4954;
  margin-left: 1%;
  margin-top: 5.1rem;
  color: #3d4954;
  font-size: 1.5rem;
  width: 100px;
  font-family: 'Fjalla One', sans-serif;
  &:hover {
    cursor: pointer;
  }

  @media (max-width: $breakpoint-iphone) {
    display: none;
  }

  @media (max-width: $breakpoint-phablet) {
    font-size: 1.2rem;
    margin-top: 3.6rem;
  }
}

.filter-icon {
  display: none;

  @media (max-width: $breakpoint-iphone) {
    display: block;
    margin-top: 3rem;
    margin-left: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.filters-header {
  height: 8rem;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $breakpoint-tablet) {
    height: 7.4rem;
  }

  @media (min-width: $breakpoint-iphone) {
    height: 5.1rem;
  }

  h2 {
    color: #3d4954;
    font-size: 1.5rem;
    font-family: 'Fjalla One', sans-serif;
  }
}

.filters-info {
  padding: 7%;
  @media (min-width: $breakpoint-iphone) {
    padding-top: 8px;
  }
}

.filter-group-list {
  margin-bottom: 20px;

  label {
    padding-left: 0.5rem;
    font-size: 1rem;

    @media (min-width: $breakpoint-iphone) {
      // display: block;
      // margin-left: 10rem;
      font-size: 1rem;
    }
  }
}

.checkbox {
  margin-bottom: 5px;
  color: #3d4954;
}

.filter-group-header-container {
  border-bottom: 2px solid orange;
  margin-bottom: 10px;

  .is-5 {
    padding-bottom: 6px;
  }
}

.delete {
  display: none;
  @media (min-width: $breakpoint-iphone) {
    display: block;
    margin-left: 10rem;
    font-size: 10px;
  }
}

.buttons {
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly;

  @media (min-width: $breakpoint-iphone) {
    margin-top: 0;
  }

  .save {
    background-color: #41da83;
  }

  .reset {
    background-color: orange;
  }
}
